.review-container {
    text-align: center;
    margin: 0 auto;
    margin-left: 250px;
    margin-right: 250px;
    /* padding-top: 10px; */
    margin-top: 50px;
    padding-bottom: 200px;
    position: static;
    margin-right: auto;
    margin-left: auto;
    width: 1100px;
    padding-top: 10px;
  }