
  .popcorn-img {
    height: 50px;
    width: 50px;
  }
  
  .feed-welcome-title {
      color: rgb(255, 255, 255);
      font-size: 1.7rem;
      font-family: 'Baloo 2', cursive;
      color: #fff;
      outline: #2a3038;
      text-shadow: 1px 1px 0px #000;
      font-weight: bold;
  } 

  .blue-rating {
    color:  #1976d2;
  }

  .stars-div {
    margin-bottom: 8px;
  }

  .movies-div {
    margin-top: 10px;
  }

  .percentage-movie-info {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    font-size: 2.7rem;
    cursor: pointer;
  }

  .percentage-movie-info:hover {
    color:  #1976d2;
  }

  .stars-fix-div {
    margin-top: 30px;
    text-decoration: none;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    gap: 0px;
  }
  
  .feed-opening-div {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    display:flex;
    flex-direction:row;
    align-items:left;
    justify-content: flex-start;
    gap: 0px;
  }

  /* .movie-container {

  }
   */
  .feed-opening-title, .movie-icon {
    display: inline-flex;
    margin: 0;
    padding: 0;
  }
      
  .movie-and-info-div {
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    text-decoration: none;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    /* background-color: #a1c7ed65; */
    /* padding: 20px; */
    gap: 20px;
    margin-bottom: 40px;
  }

  /* .container-again {
    background-color: red;
  } */

  .stars-fix {
    display:flex;
    flex-direction:row;
    align-items:flex-end;
    justify-content:flex-end;
  }

  .movie-info-div {
    background-color: #a1c7ed65;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius: 8px;
    width: 100%;
    /* background-color: yellow; */
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .movie-name-new {
    color: #2a3038;
    font-size: 2rem;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    transform: uppercase;
    line-height: 0.9;
    margin-bottom: 5px;
  }

  .span-info {
    font-weight: 800;
  }

  .desc {
    text-align: left;
    /* color: #2a3038; */
    margin-bottom: 30px;
  }

  .desc > * {
    font-size: 1.15rem;
    color: #2a3038;
  }

  .other-info-new {
    text-align: left;
    color: #2a3038;
    font-size: 1.15rem;
    /* font-weight: 600; */
    font-family: 'Baloo 2', cursive;
  }

  .small-info-div {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap: 7px;
  }
  
  .small-info-div > * {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
  }

  .info-heading {
    border-bottom: 5px solid #1976d2;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
  }

  .info-heading > p{
    padding: 0px;
    margin: 0px;
    color: #2a3038;
    font-size: 1.8rem;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
  }

  .movie-div {
    display: flex;
    text-align: left;
    /* padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 50px;
    margin-right: auto; */
    /* background-color: green; */
  }

  .info-div {
    margin-right: auto;
    text-decoration: none;
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content: flex-start;
  }
  
  .review-movie-pic {
      width: 200px;
      height: 275px;
      border-radius: 8px;
      padding-bottom: 0px;
      margin-bottom: 0px;
  }
  
  .review-movie-title {
      margin-top: 0px;
      margin-bottom: 5px;
      font-family: 'Baloo 2', cursive;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1;
      padding-top: 3px;
      padding-bottom: 2px;
      text-align: left;
  }
  
  .review-last-review {
      margin-top: -5px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 13px
  }

  .info-div > * {
    display: flex;
  }
  
    @media(max-width: 1290px) {
      .feed-container {
          width: 90%;
      }
    }
  
    @media(max-width: 360px) {
      .feed-bar {
          display: none;
      }
    }
  
    @media(max-width: 425px) {
      .feed-container {
          width: 100%;
          border: none;
      }
      .movie-and-info-div {
        margin-right: 10px;
        margin-left: 10px;
      }
  
      .feed-bar, .feed-bar-actual {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
      }
  
      .movie-review-div {
        padding-bottom: 80px;
      }
    }

    @media(max-width: 645px) {
      .movie-and-info-div {
        margin-top: 40px;
        margin-right: 40px;
        margin-left: 40px;
        text-decoration: none;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:flex-start;
        gap: 20px;
        margin-bottom: 40px;
      }
    }
    
    @media(max-width: 404px) {
      .small-info-div {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        gap: 2px;
      }
    }