  .feed-container {
    text-align: center;
    margin: 0 auto;
    margin-left: 250px;
    margin-right: 250px;
    /* padding-top: 10px; */
    margin-top: 50px;
    padding-bottom: 200px;
    position: static;
    margin-right: auto;
    margin-left: auto;
    width: 1100px;
    padding-top: 10px;
  }
  
  .movie-container {
    text-align: center;
    margin: 0 auto;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 10px;
    padding-bottom: 500px;
    border-radius: 10px;
    background-color: #fff;
    position: static;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border: 1px solid #1976d2;
    border-top: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding-top: 10px;
  }

  .popcorn-img {
    height: 50px;
    width: 50px;
  }
  
  .feed-welcome-title {
      color: rgb(255, 255, 255);
      font-size: 1.7rem;
      font-family: 'Baloo 2', cursive;
      color: #fff;
      outline: #2a3038;
      text-shadow: 1px 1px 0px #000;
      font-weight: bold;
  }

  .stars-div {
    margin-bottom: 8px;
  }

  .movies-div {
    margin-top: 10px;
  }
  
  .feed-opening-div {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    display:flex;
    flex-direction:row;
    align-items:left;
    justify-content: flex-start;
    gap: 0px;
  }
  
  .feed-opening-title, .movie-icon {
    display: inline-flex;
    margin: 0;
    padding: 0;
  }
      
  .movie-and-info-div {
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    text-decoration: none;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background-color: #a1c7ed65;
    padding: 20px;
    gap: 100px;
    margin-bottom: 40px;
  }

  .info-heading {
    border-bottom: 5px solid #1976d2;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
  }

  .info-heading > p{
    padding: 0px;
    margin: 0px;
    color: #2a3038;
    font-size: 1.8rem;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
  }

  .movie-div {
    display: flex;
    width: 160px;
    height: 250px;
    text-align: left;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 50px;
  }

  .info-div {
    margin-right: auto;
    text-decoration: none;
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content: flex-start;
  }
  
  .review-movie-pic {
      width: 200px;
      height: 275px;
      border-radius: 10px;
      padding-bottom: 0px;
      margin-bottom: 0px;
  }
  
  .review-movie-title {
      margin-top: 0px;
      margin-bottom: 5px;
      font-family: 'Baloo 2', cursive;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1;
      padding-top: 3px;
      padding-bottom: 2px;
      text-align: left;
  }
  
  .review-last-review {
      margin-top: -5px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 13px
  }

  .info-div > * {
    display: flex;
  }


    
  
    @media(max-width: 765px) {
      .feed-welcome-title {
          font-size: 1.3rem;
      }
      
      .feed-welcome-msg {
          font-size: 13px;
      }
    }
  
    @media(max-width: 1181px) {
      .feed-welcome-title, .feed-welcome-msg {
          margin-left: 100px;
          margin-right: 100px;
      }
    }
  
    @media(max-width: 1290px) {
      .feed-container {
          width: 90%;
      }
    }
  
    @media(max-width: 360px) {
      .feed-bar {
          display: none;
      }
    }
  
    @media(max-width: 425px) {
      .feed-container {
          width: 100%;
          border: none;
      }
  
      .feed-bar, .feed-bar-actual {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        border-bottom: 1px solid #1976d2;
      }
  
      .movie-review-div {
        padding-bottom: 80px;
      }
    }
  
    @media(max-width: 635px) {
      .feed-welcome-title, .feed-welcome-msg {
          margin-left: 70px;
          margin-right: 70px;
      }
    }
  
    @media(max-width: 565px) {
      .feed-welcome-title, .feed-welcome-msg {
          margin-left: 40px;
          margin-right: 40px;
      }
    }
  
    @media(max-width: 505px) {
      .feed-welcome-title, .feed-welcome-msg {
          margin-left: 10px;
          margin-right: 10px;
      }
    }
  
    @media(max-width: 435px) {
      .feed-welcome-title {
          font-size: 1.1rem;
      }
    }
  
    @media(max-width: 330px) {
      .feed-welcome-title {
          font-size: 1rem;
      }
      
      .feed-welcome-msg {
          font-size: 13px;
      }
    }