.comment-container {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    padding: 20px;
    margin-bottom: 20px;
  }

  .comment-flex-box {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    margin-bottom: 50px;
    margin-right: 20px;
    /* margin-left: 20px; */
    /* width: 100%; */
  }

  .comment-div {
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    gap: 10px;
    /* margin-bottom: 20px; */
    width: 100%;
    /* background-color: blue; */
    padding: 10px;
  }

  .comment-div-info {
    border: 1.5px solid #1976d2;
    background-color: #e1e1e1;
    border-radius: 5px;
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction:column;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 40px;
    display: flex;
    /* min-width: 20%; */
  }

  .left-div {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap: 2px;
  }
  
  .comment-pfp-div {
    display: block;
    border: 1.5px solid #1976d2;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f4f4f5;
    cursor: pointer; 
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
  }

  .reviews-heading {
    display: flex;
    font-size: 1rem;
    color: #2a3038;
    font-size: 1.5rem;
    font-family: 'Phudu', cursive;
    letter-spacing: 1px;
    font-weight: 800;
    text-align: left;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 8px;
    border-left: 4px solid #2a3038;
  }

  .show-nothing {
    display: none;
  }

  .rating-inline {
    text-decoration: none;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    gap: 1px;
  }

  .rating-inline > * {
    display: inline-flex;
  }

  .rating-div {
    cursor: pointer;
  }

  .username {
    display: flex;
    font-size: 1rem;
    color: #2a3038;
    font-size: 1rem;
    font-family: 'Baloo 2', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    text-align: left;
    /* margin-bottom: -5px; */
  }

  .username:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .hide-more-icon {
    opacity: 0;
  }

  .desc {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2a3038;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
  }

  .usr-rating {
    margin-top: 10px;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2a3038;
    text-align: left;
  }

  .see-more{
    display: inline;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2a3038;
    text-align: left;
    cursor: pointer;
    font-weight: 700;
    /* -webkit-mask-image: linear-gradient(to right, transparent, white 10%);
    mask-image: linear-gradient(to right, transparent, white 10%); */
  }

  .see-less {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2a3038;
    text-align: left;
    cursor: pointer;
    font-weight: 600;
  }

 .horizIcon-div {
  display: none;
 }

 .vertIcon-div {
  display: inline-flex;
 }

  @media(max-width: 400px) {
    .comment-div {
      display:flex;
      flex-direction:column;
      align-items:left;
      justify-content:center;
      /* margin-bottom: 50px; */
    }

    .left-div {
      flex-direction:row;
      gap:0px;
    }

    .horizIcon-div {
      display: flex;
     }
    
     .vertIcon-div {
      display: none;
     }
  }
  
  @media(max-width: 500px) {

    .comment-container {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    padding: 0px;
    margin-bottom: 20px;
  }

  .comment-flex-box {
    margin-right: 20px;
  }

  .movie-and-info-div {
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    gap: 20px;
    margin-bottom: 40px;
  }
}