.comment-container {
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    text-decoration: none;
    padding: 20px;
    margin-bottom: 40px;
    background-color: red;
  }

  .comment-flex-box {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap: 50px;
  }

  .comment-div {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap: 10px;
  }

  .comment-div-info {
    background-color: #cccccc;
    border-radius: 5px;
    display:flex;
    align-items:left;
    justify-content:flex-start;
    flex-direction:column;
    padding: 10px;
    padding-top: 0px;
  }
  
  .comment-pfp-div {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f4f4f5;
    cursor: pointer; 
  }

  .username {
    display: flex;
    font-size: 1rem;
    color: #2a3038;
    font-size: 1.3rem;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    text-align: left;
  }

  .desc {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2a3038;
    text-align: left;
  }

  .usr-rating {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2a3038;
    text-align: left;
  }