.comment-container {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    padding: 20px;
    margin-bottom: 20px;
  }

  .comment-flex-box {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-bottom: 50px;
  }

  .comment-div {
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:center;
    gap: 10px;
    margin-bottom: 40px;
  }

  .comment-div-info {
    border: 1.5px solid #1976d2;
    background-color: #e1e1e1;
    border-radius: 5px;
    display:flex;
    align-items:left;
    justify-content:flex-start;
    flex-direction:column;
    padding: 10px;
    padding-top: 0px;
  }

  .comment-div-info:hover {
    border: 1.5px solid black;
    box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.10), 0 6px 6px rgba(0, 0, 0, 0.10);
  }
  
  .comment-pfp-div {
    border: 2px solid #1976d2;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f4f4f5;
    cursor: pointer; 
    min-width: 45px;
    min-height: 45px;
    max-width: 45px;
    max-height: 45px;
  }

  .reviews-heading {
    display: flex;
    font-size: 1rem;
    color: #2a3038;
    font-size: 1.5rem;
    font-family: 'Phudu', cursive;
    letter-spacing: 1px;
    font-weight: 800;
    text-align: left;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 8px;
    border-left: 4px solid #2a3038;
  }

  .rating-inline {
    text-decoration: none;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    gap: 2px;
  }

  .rating-inline > * {
    display: inline-flex;
  }

  .rating-div {
    cursor: pointer;
  }

  .username {
    display: flex;
    font-size: 1rem;
    color: #2a3038;
    font-size: 1.3rem;
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    text-align: left;
  }

  .desc {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2a3038;
    text-align: left;
  }

  .usr-rating {
    margin-top: 20px;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2a3038;
    text-align: left;
  }

  .see-more{
    display: inline;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2a3038;
    text-align: left;
    cursor: pointer;
    font-weight: 700;
    /* -webkit-mask-image: linear-gradient(to right, transparent, white 10%);
    mask-image: linear-gradient(to right, transparent, white 10%); */
  }

  .see-less {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2a3038;
    text-align: left;
    cursor: pointer;
    font-weight: 600;
  }

  @media(max-width: 340px) {
    .comment-div {
      display:flex;
      flex-direction:column;
      align-items:left;
      justify-content:center;
      margin-bottom: 50px;
    }
  }