

.new-contain {
    text-align: center;
  margin: 0 auto;
  margin-left: 250px;
  margin-right: 250px;
  /* padding-top: 10px; */
  margin-top: 50px;
  padding-bottom: 200px;
  position: static;
  margin-right: auto;
  margin-left: auto;
  width: 1100px;
  padding-top: 10px;
  /* box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5); */
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.other-new-contain {
    text-align: center;
  margin: 0 auto;
  margin-left: 250px;
  margin-right: 250px;
  /* padding-top: 10px; */
  padding-bottom: 200px;
  position: static;
  margin-right: auto;
  margin-left: auto;
  width: 1100px;
  padding-top: 10px;
  /* box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5); */
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.cinema {
    margin-top: 100px;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3rem;
    margin-right: 5.5rem;
    margin-left: 5.5rem;
}

  /* Define the keyframes for the glowing effect */
@keyframes glowing {
  0% {
    color: #1d1d20;
    text-shadow: 0 0 10px #1d1d20;
  }
  50% {
    color: #1d1d20;
    text-shadow: 0 0 20px #1d1d20;
  }
  100% {
    color: #1d1d20;
    text-shadow: 0 0 10px #1d1d20;
  }
}

/* Apply the glowing effect to each word in the div */
.cinema span {
  display: inline-block;
  animation: glowing 1s ease-in-out infinite;
  animation-delay: calc(var(--index) * 0.2s); /* Delay the animation based on the index of each word */
}

/* Use CSS variables to set the --index property on each span element */
.cinema span:before {
  content: attr(data-word);
  display: none;
}

.ball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 0;
  /* left: 0; */
}

.new-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    gap: 20px;
    padding: 20px;
    /* background-color: red; */
}

.new-h1 {
    font-size: 4rem;
    font-family: 'Baloo 2', cursive;
    font-family: 'Nova Oval', cursive;
    font-family: 'Tilt Warp', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Phudu', cursive;
    margin: 0;
    padding: 0;
    margin-bottom: -10px;
    color: #2a3038;
    line-height: 1;
}

.new-h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5rem;
    color: #525252;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1;
}

@media (max-width: 400px) {

    .new-h1 {
        font-size: 3.5rem;
    }
    
    .new-h3 {
        font-size: 2.0rem;
    }
}


@media (max-width: 340px) {

    .new-h1 {
        font-size: 3.0rem;
    }
    
    .new-h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 300px) {

    .new-h1 {
        font-size: 2.5rem;
    }
    
    .new-h3 {
        font-size: 1.0rem;
    }
}
  
  @media(max-width: 1290px) {
    .new-contain {
        width: 90%;
    }

    .other-new-contain {
        width: 90%;
    }
  }