.star-wars-intro {
    position: relative;
    /* height: 100vh; */
    background-color: transparent;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Star Jedi", sans-serif;
    text-align: center;
    overflow-y: hidden;
    width: 50%;
  }
  
  .star-wars-intro > * {
    font-size: 1rem;
    margin: 0;
    animation: scroll 20s linear infinite;
  }
  
  /* .star-wars-intro p:last-child {
    font-size: 2rem;
    margin-top: 2rem;
  }
   */
  /* .star-wars-intro h2 {
    font-size: 4rem;
    margin: 0;
    animation: fade 5s linear 10s forwards;
    opacity: 0;
  }
   */
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }