
.center-auth {
    margin-top: 15vh;
} 

.center-auth > * {
    animation: loadingtransition 0ms ease-in;
  
}

.auth-title {
    font-family: 'Baloo 2', cursive;
    color: #f4f4f5;
}

.inputInvalid {
    animation: vibrate 0.2s ease-in-out infinite;
  }

.invalid-email-msg {
  color: rgb(255, 68, 68);
}

.link-div {
  text-decoration: none;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    gap: 8px;
}

.p-error {
  color: #f4f4f5;
}

.link-div > * {
  display: flex;
}

.divider-div {
  padding-right: 8px;
}

@keyframes vibrate {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .inputSuccess {
    animation: vibrateUp 1s ease-in-out infinite;
}

@keyframes vibrateUp {
    0% {
      transform: translatey(0);
    }
    25% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(5px);
    }
    75% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .alert-container {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

  .alert-div {
    padding-top: 20px;
    width: 100%;
  }