.feed-bar {
    text-decoration: none;
    /* background-color: #acacac;
    display: flex; */
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 9px;
    /* padding-left: 30px;
    padding-right: 60px; */
    /* margin-left: 50px; */
    /* margin-right: 150px; */
    /* padding-left: 30px; */
    margin-top: -9px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    margin-right: -2px;
    margin-left: -2px;
    padding-left: 1px;
    border-bottom: 1px solid #1976d2;
}

.buttons {
    padding-right: 10px;  
}