.feed-welcome-title {
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    font-family: 'Baloo 2', cursive;
    margin-bottom: 0;
    color: #1d1d20;
    padding-bottom: 10px;
    margin-left: 150px;
    margin-right: 150px;
    font-weight: bold;
    padding-bottom: 0px;
    margin-top: 0px;
}

.feed-welcome-msg {
    padding-top: 0px;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Baloo 2', cursive;
    margin-bottom: 0;
    color: #1d1d20;
    padding-bottom: 10px;
    margin-left: 150px;
    margin-right: 150px;
    font-weight: bold;
    color: #727272;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
    padding-bottom: 10px;
}

.feed-container {
    text-align: center;
    margin: 0 auto;
    margin-left: 250px;
    margin-right: 250px;
    /* margin-top: 50px; */
    padding-top: 10px;
    padding-bottom: 500px;
    border-radius: 10px;
    background-color: #fff;
    position: sticky;
    /* background-color: #3b4048; */
}

.feed-bar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f4f4f5;
  }

  .movie-icon {
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }