.feed-bar {
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 9px;
    margin-top: -9px;
    margin-right: -2px;
    margin-left: -2px;
    padding-left: 1px;
    border-bottom: 1px solid #1976d2;
}

.buttons {
    padding-right: 10px;
    border-bottom: 1px solid transparent;
}

/* .feed-bar-actual {
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 9px;
    margin-top: -9px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: flex-start;
    margin-right: -2px;
    margin-left: -2px;
    padding-left: 1px;
    /* border-bottom: 1px solid #f2f2f3; */

@media(max-width: 425px) {
    .reset {
        padding-right: 10px;
        margin-right: 0px;
    }
}