.feed-welcome-title {
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    font-family: 'Baloo 2', cursive;
    margin-bottom: 0;
    color: #1d1d20;
    padding-bottom: 10px;
    margin-left: 150px;
    margin-right: 150px;
    font-weight: bold;
    padding-bottom: 0px;
    margin-top: 0px;
}

.feed-welcome-msg {
    padding-top: 0px;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Baloo 2', cursive;
    margin-bottom: 0;
    color: #1d1d20;
    padding-bottom: 10px;
    margin-left: 150px;
    margin-right: 150px;
    font-weight: bold;
    color: #727272;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
    padding-bottom: 10px;
}

.feed-container {
    text-align: center;
    margin: 0 auto;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 10px;
    padding-bottom: 500px;
    border-radius: 10px;
    background-color: #fff;
    position: static;
    margin-right: auto;
    margin-left: auto;
    width: 1250px;
    border: 1px solid #1976d2;
    border-top: 0px;
}

.feed-bar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f4f4f5;
  }

  .movie-icon {
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  @media(max-width: 765px) {
    .feed-welcome-title {
        font-size: 1.3rem;
    }
    
    .feed-welcome-msg {
        font-size: 13px;
    }
  }

  @media(max-width: 1181px) {
    .feed-welcome-title, .feed-welcome-msg {
        margin-left: 100px;
        margin-right: 100px;
    }
  }

  @media(max-width: 1290px) {
    .feed-container {
        width: 90%;
    }
  }

  @media(max-width: 360px) {
    .feed-bar {
        display: none;
    }
  }

  @media(max-width: 425px) {
    .feed-container {
        width: 100%;
        border: none;
    }

    .feed-bar, .feed-bar-actual {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
      border-bottom: 1px solid #1976d2;
    }

    .movie-review-div {
      padding-bottom: 80px;
    }
  }

  @media(max-width: 635px) {
    .feed-welcome-title, .feed-welcome-msg {
        margin-left: 70px;
        margin-right: 70px;
    }
  }

  @media(max-width: 565px) {
    .feed-welcome-title, .feed-welcome-msg {
        margin-left: 40px;
        margin-right: 40px;
    }
  }

  @media(max-width: 505px) {
    .feed-welcome-title, .feed-welcome-msg {
        margin-left: 10px;
        margin-right: 10px;
    }
  }

  @media(max-width: 435px) {
    .feed-welcome-title {
        font-size: 1.1rem;
    }
  }

  @media(max-width: 330px) {
    .feed-welcome-title {
        font-size: 1rem;
    }
    
    .feed-welcome-msg {
        font-size: 13px;
    }
  }