.hello-there {
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    font-family: 'Baloo 2', cursive;
    margin-bottom: 0;
    color: #1d1d20;
}

.feed-container {
    text-align: center;
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
    /* margin-top: 50px; */
    padding-top: 50px;
    padding-bottom: 500px;
    border-radius: 10px;
    background-color: #fff;
    /* background-color: #3b4048; */
}