.rows-of-movies {
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 9px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content: flex-start;
    flex-wrap: wrap;
}

  .movie-review-div {
    width: 160px;
    height: 250px;
    text-align: left;
    padding-bottom: 80px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    animation: loadingtransition 500ms ease-in;
    animation: card-flip 0.5s ease-in-out forwards;
    position: relative;
    margin-bottom: 15px;
  }
  
  .remove-redeye-icon {
    position: absolute;
    top: 35%;
    left: 43%;
    transform: translate(-20%, -50%);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    z-index: 1;
    border: 3px solid white;
    border-radius: 50%;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
    background-color: rgba(128, 128, 128, 0.281);
    background-color: #1976d275;
  }
  
  .movie-review-div:active .remove-redeye-icon {
    background-color: #1976d275;
  }

  .movie-review-div:hover .remove-redeye-icon {
    opacity: 1;
  }

.loading {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-review-div:hover .movie-title {
    color:  #1976d2;
}

.movie-review-div:hover .movie-pic {
    filter: brightness(60%);
  }

.movie-review-div:hover .last-review {
    color:  #1976d2;
}

.movie-review-div:hover .percentage {
    color:  #1976d2;
}

.movie-pic {
    width: 160px;
    height: 235px;
    border-radius: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.movie-title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Baloo 2', cursive;
    font-weight: 400;
    font-size: 15.6px;
    line-height: 1;
    padding-top: 3px;
    padding-bottom: 4px;
    max-width: 150px;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1rem;
}

.movie-review-div:active > .movie-title {
    text-decoration: underline;
}

.movie-review-div:active > .last-review {
    text-decoration: underline;
}

.percentage {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1.05rem;
    /* font-weight: 800;
    font-size: 1.1rem; */
}

.rating-in-movie-div {
    text-decoration: none;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    gap: 8px;
}

.last-review {
    margin-top: -5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: rgb(53, 53, 53);
}
  
  @keyframes  loadingtransition{
  
    from{
        opacity: 0;
        transform: rotateY(-50deg);
    }
    to{
        opacity: 1;
        transform: rotateY(0);
    }
  }

  @keyframes card-flip {
    from {
        transform: rotateY(180deg);
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(0);
    }
  }
  
  .cursor {
    animation: none;
  }