/* .reset {
    margin-left: auto;
    display: flex;
} */

/* .feed-bar-actual {
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 9px;
    margin-top: -9px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: flex-start;
    margin-right: -2px;
    margin-left: 200px;
    padding-left: 1px;
} */

/* .feed-bar-actual {
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 9px;
    margin-top: -9px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: flex-start;
    margin-right: 20px;
    margin-left: 18px;
} */

.feed-bar-actual {
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 9px;
    margin-top: -9px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: flex-start;
    margin-right: -2px;
    margin-left: -2px;
    padding-left: 1px;
    /* border-bottom: 1px solid #f2f2f3; */
}

.reset > p {
    color: #1976d2;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    padding:10px;
    margin: 0;
}

.reset > p:hover {
    color: #0c3a68;
}