html {
  scroll-behavior: smooth;
}

body {
  /* dark-mode */
  background-color: #1d1d20;
  overflow-x: hidden; 
  /* light-mode */
  background-color: #f4f4f5;
}

/* *{
  animation: loadingtransition 200ms ease-in;
}

@keyframes  loadingtransition{

  from{
      opacity: 0;
      transform: rotateY(-50deg);
  }
  to{
      opacity: 1;
      transform: rotateY(0);
  }
} */

.center-of-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.cursor {
  animation: none;
}