html {
  scroll-behavior: smooth;
}

body {
  /* dark-mode */
  background-color: #1d1d20;
  overflow-x: hidden !important;
  /* light-mode */
  background-color: #f4f4f5;
}

/* *{
  animation: loadingtransition 200ms ease-in;
}

@keyframes  loadingtransition{

  from{
      opacity: 0;
      transform: rotateY(-50deg);
  }
  to{
      opacity: 1;
      transform: rotateY(0);
  }
} */

.center-of-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.cursor {
  animation: none;
}

.contain {
  text-align: center;
  margin: 0 auto;
  margin-left: 250px;
  margin-right: 250px;
  /* padding-top: 10px; */
  margin-top: 50px;
  padding-bottom: 200px;
  position: static;
  margin-right: auto;
  margin-left: auto;
  width: 1100px;
  padding-top: 10px;
  /* box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5); */
}

@media(max-width: 1290px) {
  .contain {
      width: 90%;
  }
}

/* @media(max-width: 500px) {
  .contain {
      width: 100%;
      border: none;
  }
} */