.nav-buttons-container {
    text-decoration: none;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    gap: 8px;
}

.nav-buttons-container > * {
    display: flex;
}