.setting-info { 
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 50px;
    margin-top: -9px;
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content: flex-start;
    margin-right: -2px;
    margin-left: -2px;
    padding-left: 1px;
    border-bottom: 1px solid #1976d2;
    gap: 10px;
    padding-bottom: 30px;
}

.setting-info-title { 
    text-decoration: none;
    padding-top: 11px;
    /* padding-bottom: 50px; */
    margin-top: -9px;
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content: flex-start;
    margin-right: -2px;
    margin-left: -2px;
    padding-left: 1px;
    border-bottom: 1px solid #1976d2;
    margin-bottom: 35px;
}

.settings-pic-div { 
    text-decoration: none;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-end;
}

.settings-pfp-div {
    margin-left: auto;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #2a3038;
    cursor: pointer; 
    border: 3px solid #1976d2;
    display: flex;
  }

  .upload-btn {
    margin-left: auto;
    display: flex;
    margin-top: -50px;
    margin-right: 70px;
  }

.name-and-username {
    text-decoration: none;
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content: flex-start;
    /* gap: 10px; */
}

.reviews {
    font-family: 'Baloo 2', cursive;
    display: flex;
}

.profile-container {
    text-align: center;
    margin: 0 auto;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    /* padding-top: 50px; */
    padding-bottom: 50px;
    border-radius: 10px;
    /* background-color: #3b4048; */
}

.h1-msg {
    color: rgb(255, 255, 255);
    color: #1d1d20;
    font-size: 1.6rem;
    font-family: 'Baloo 2', cursive;
    margin-bottom: 0;
}

.p-msg {
    margin-top: 0;
    color: #727272;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
}

.prof-username {
    font-family: 'Baloo 2', cursive;
    color: #727272;
    margin: 0;
    padding: 0;
    display: flex;
}

.prof-name {
    font-family: 'Baloo 2', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: -15px;
}

  .prof-profile-pic {
    width: 100%;
    height: 100%;
    object-fit:contain;
    border-radius: 50%;
  }

.edit-button-div {
    text-decoration: none;
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 10px;
    width: 100%;
}

.small-info {
    text-decoration: none;
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content: flex-start;
    /* margin-bottom: -10px; */
}

.settings-small-row {
    display:flex;
    gap: 5px;
    margin-bottom: 20px;
    
}

.small-row > p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
}

@media(max-width: 695px) {
    .profile-container {
      margin-left: 20px;
      margin-right: 20px;
    }
}