a {
  text-decoration: none;
}

NavLink {
  text-decoration: none;
  align-content: center;
}

.login-button {
  background-color: rgb(114, 114, 131);
  color: white;
  border-radius: 40px;
  /* other styles */
}

.nav-container {
    text-decoration: none;
    background-color: #2a3038;
    display: flex;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 60px;
    padding-right: 60px;

    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    /* margin-bottom: 1rem; */
    /* justify-content: space-around;
    justify-content: space-between; */
}

/* .title {
  margin-right: auto;
} */

.nav-container h1 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Tilt Warp', cursive;
    /* letter-spacing: 1px; */
    font-family: 'Comfortaa', cursive;
    /* font-family: 'Righteous', cursive; */
    font-family: 'Baloo 2', cursive;
    text-decoration: none;
}

.menu-icon {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    padding: 15px;
    z-index: 999;
    margin-left: auto;
    background-color: transparent;
    padding: 15px;
    background-color: #ffffff27;
  }
  
  .menu-icon {
    transition: 0.3s ease-in-out;
  }
  
  /* .menu-icon:hover {
    background-color: #1976d23d;
  } */

  .menu-icon__line {
    width: 100%;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
    border-radius: 3px;
  }

  .menu-icon__line:nth-of-type(2) {
    width: 75%;
    margin-left: auto;
    margin-left: -20px;
  }
  
  .menu-icon--open .menu-icon__line:nth-of-type(1) {
    transform: translateY(10px) rotate(585deg);
  }
  
  .menu-icon--open .menu-icon__line:nth-of-type(2) {
    opacity: 0;
  }
  
  .menu-icon--open .menu-icon__line:nth-of-type(3) {
    transform: translateY(-10px) rotate(-585deg);
  }

  .menu-icon:hover .menu-icon__line:nth-of-type(2) {
    animation: move 0.8s ease-in-out alternate infinite;
  }
  
  @keyframes move {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(20px);
    }
  }

  .pos {
    color: #acacac;
    margin-right: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    /* margin-right: 2.5rem; */
    /* margin-left: auto; */
    /* align-items: center;
    margin-left: 27%;
    margin-right: auto;
    margin-left: auto; */
    /* margin-left: auto;
    margin-right: 1rem; */
  }

  .test {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    margin-left: auto;
  }

  .h1 {
    padding: 90px;
  }

  @media (max-width: 800px) {
    .login-button {
      display: none;
    }
  }

  @media (max-width: 675px) {
    .search {
      display: none;
    }
  }

  @media (max-width: 550px) {
    .pos {
      display: none;
    }
  }

  @media (max-width: 500px) {
    .nav-container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }