/* .profile-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    background-color: #3b4048;
    right: 0;
    left: 0;
    text-align: left;
    padding: 16px 0;
    margin-top: 13.4rem;
    padding-left: 20px;
    padding-right: 30px;
    z-index: 999;
    animation: loadingtransition 200ms ease-in;
  } */

  .profile-menu {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #3b4048;
    right: 0;
    left: 0;
    /* height: 150px; */

    text-align: left;
    padding: 16px 0;
    top: 4.5rem;
    padding-left: 20px;
    padding-right: 30px;
    z-index: 999;
    width: 100px;
    animation: loadingtransition 200ms ease-in;
  }


  
  @keyframes  loadingtransition{
  
    from{
        opacity: 0;
        transform: rotateY(-50deg);
    }
    to{
        opacity: 1;
        transform: rotateY(0);
    }
  }

  .profileNavInactive {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-family: 'Baloo 2', cursive;
    text-decoration: none;
  }

  .profileNavInactive:hover {
    color: #8f8f8f;
  }

  .profileNavActive {
    text-decoration: none;
    color: #1976d2;
    font-size: 1.2rem;
    font-family: 'Baloo 2', cursive;
  }